  .container{
      text-align: center;
  }
  .name{
    position:absolute;
    left:420px;
    top:230px;
    width: 400px; 
    height: 30px;
    padding: 25px;
    margin: auto;
    border-radius: 500px;
    text-align: center;
    background:#8dc63f; 
    box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  }
  .password{
    position:absolute;
    left:420px;
    top:330px;
    width: 400px; 
    height: 30px;
    padding: 25px;
    margin: auto;
    border-radius: 500px;
    text-align: center;
    background:#8dc63f; 
    box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  }
  .wrap1{ 
    position: relative;
    overflow: hidden;
    z-index: 0;  
    background: #fff;
    border-radius: 300px;
    box-shadow: -1px -1px 1px rgba(0,0,0,.4),
                1px 1px 1px rgba(255,255,255,.4);
  }
  .wrap1:after,
  .wrap1:before{
    content: 'Username Here';
    display: block;
    position: absolute;
    top: 0;left: 0;
    overflow: hidden;
    line-height: 30px;
    color:rgba(255,255,255,.3);
    font-size: 20px;
    width: 100%;height: 50%;
    background: #000;
    z-index: 1;
    box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
    transition:.3s all;
    -webkit-transition:.3s all;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
  .wrap1:before{
    top: auto;
    bottom: 0;
    line-height: 0px;
  }
  .wrap1:hover:after{
    top: -50%;
  }
  .wrap1:hover:before{
    bottom: -50%;
  }
  .wrap2{ 
    position: relative;
    overflow: hidden;
    z-index: 0;  
    background: #fff;
    border-radius: 300px;
    box-shadow: -1px -1px 1px rgba(0,0,0,.4),
                1px 1px 1px rgba(255,255,255,.4);
  }
  .wrap2:after,
  .wrap2:before{
    content: 'Passworld Here';
    display: block;
    position: absolute;
    top: 0;left: 0;
    overflow: hidden;
    line-height: 30px;
    color:rgba(255,255,255,.3);
    font-size: 20px;
    width: 100%;height: 50%;
    background: #000;
    z-index: 1;
    box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
    transition:.3s all;
    -webkit-transition:.3s all;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
  .wrap2:before{
    top: auto;
    bottom: 0;
    line-height: 0px;
  }
  .wrap2:hover:after{
    top: -50%;
  }
  .wrap2:hover:before{
    bottom: -50%;
  }
  input{
    width: 100%;
    height: 30px;
    padding: 0 65px 0 10px;
    font-size: 16px;
    border:0;
    box-shadow: inset 1px 1px 11px rgba(0,0,0,.3);  
  } 
  input:focus { 
    outline: none; 
  }
  button{
    position: absolute;
    top: 5px;
    right: 30px;
    width: 40px;
    height: 20px;
    cursor: pointer;
  }
  .ts-footer{
    position:absolute;
    left:450px;
    top:500px;
    width: 400px; 
    height: 30px;
  }
  .ts-left{
      float:left;
      width: 229px; 
  }
  .ts-right{
      float:right;
  }
  
  html{ height: 100%; margin: 0; padding: 0;font-family: 'Roboto', sans-serif;}
  body{ 
    margin: 0;padding: 50px 0 0 0; 
    background: #FFFFFF;
  background: -moz-radial-gradient(center, ellipse cover,  #FFFFFF 0%, #FFFFFF 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFFFFF), color-stop(100%,#FFFFFF));
  background: -webkit-radial-gradient(center, ellipse cover,  #FFFFFF 0%,#FFFFFF 100%);
  background: -o-radial-gradient(center, ellipse cover,  #FFFFFF 0%,#FFFFFF 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #FFFFFF 0%,#FFFFFF 100%);
  background: radial-gradient(ellipse at center,  #FFFFFF 0%,#FFFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr%,#FFFFFF',GradientType=1 );
  
  }
  body *,body *:before, body *:after{  box-sizing: border-box; }

  